In [1]:
import pandas as pd

In [4]:
titanic_df = pd.read_csv('datasets/titnaic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,2,0,28.0,1,0,26.0000,0,0,1
1,0,1,1,45.0,1,0,83.4750,0,0,1
2,1,3,1,27.0,0,0,7.7958,0,0,1
3,1,3,0,36.0,1,0,17.4000,0,0,1
4,1,2,1,3.0,1,1,26.0000,0,0,1

In [5]:
titanic_df.shape

(712, 10)

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
X = titanic_df.drop('Survived', axis = 1)
Y = titanic_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2)

In [9]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [10]:
x_test.shape, y_test.shape

((143, 9), (143,))

In [14]:
from sklearn.linear_model import LogisticRegression

In [16]:
logistic_model = LogisticRegression(penalty='l2', C = 1.0, solver='liblinear').fit(x_train,y_train)

In [17]:
y_pred = logistic_model.predict(x_test)

In [21]:
pred_results = pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

In [22]:
pred_results.head()

     y_test  y_pred
124       0       0
190       1       1
11        1       1
290       1       1
639       0       0

In [24]:
titanic_cross_tab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_cross_tab

y_test   0   1
y_pred
0       72  20
1        2  49

In [28]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)

print("Acc: ", acc)
print("prec: ", prec)
print("recall: ", recall)

Acc:  0.8461538461538461
prec:  0.9607843137254902
recall:  0.7101449275362319