In [1]:
import pandas as pd

In [4]:
titanic_df = pd.read_csv('datasets/titnaic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,2,0,28.0,1,0,26.0000,0,0,1
1,0,1,1,45.0,1,0,83.4750,0,0,1
2,1,3,1,27.0,0,0,7.7958,0,0,1
3,1,3,0,36.0,1,0,17.4000,0,0,1
4,1,2,1,3.0,1,1,26.0000,0,0,1

In [ ]:
titanic_df